In [22]:
import os
import pandas as pd

In [33]:
# setup df = pd.DataFrame()
mapping = {}
source_path = "data/bbc/"

In [34]:
# loop through the top level, for each folder/directory, create an entry in mapping 
# for each file add it as an array to the appropriate map
for i in sorted(os.listdir(source_path)):
    if os.path.isdir(source_path + i):
        mapping[i] = sorted(os.listdir(source_path+i))[:100]

In [25]:
mapping.keys()

dict_keys(['business', 'entertainment', 'politics', 'sport', 'tech'])

In [31]:
mapping["business"][:5]

['001.txt', '002.txt', '003.txt', '004.txt', '005.txt']

In [35]:
#loop through data read each director/file and clean up line breaks into spaces.
label = []
data = []
for i, j in mapping.items():
    for k in j:
        label.append(i)        
        data.append(open(source_path + i + "/" + k, encoding="cp1252").read().replace("\n", " "))

In [44]:
print(label[:5])
print(data[:1])

['business', 'business', 'business', 'business', 'business']
['Ad sales boost Time Warner profit  Quarterly profits at US media giant TimeWarner jumped 76% to $1.13bn (Â£600m) for the three months to December, from $639m year-earlier.  The firm, which is now one of the biggest investors in Google, benefited from sales of high-speed internet connections and higher advert sales. TimeWarner said fourth quarter sales rose 2% to $11.1bn from $10.9bn. Its profits were buoyed by one-off gains which offset a profit dip at Warner Bros, and less users for AOL.  Time Warner said on Friday that it now owns 8% of search-engine Google. But its own internet business, AOL, had has mixed fortunes. It lost 464,000 subscribers in the fourth quarter profits were lower than in the preceding three quarters. However, the company said AOL\'s underlying profit before exceptional items rose 8% on the back of stronger internet advertising revenues. It hopes to increase subscribers by offering the online service free to TimeWarner internet customers and will try to sign up AOL\'s existing customers for high-speed broadband. TimeWarner also has to restate 2000 and 2003 results following a probe by the US Securities Exchange Commission (SEC), which is close to concluding.  Time Warner\'s fourth quarter profits were slightly better than analysts\' expectations. But its film division saw profits slump 27% to $284m, helped by box-office flops Alexander and Catwoman, a sharp contrast to year-earlier, when the third and final film in the Lord of the Rings trilogy boosted results. For the full-year, TimeWarner posted a profit of $3.36bn, up 27% from its 2003 performance, while revenues grew 6.4% to $42.09bn. "Our financial performance was strong, meeting or exceeding all of our full-year objectives and greatly enhancing our flexibility," chairman and chief executive Richard Parsons said. For 2005, TimeWarner is projecting operating earnings growth of around 5%, and also expects higher revenue and wider profit margins.  TimeWarner is to restate its accounts as part of efforts to resolve an inquiry into AOL by US market regulators. It has already offered to pay $300m to settle charges, in a deal that is under review by the SEC. The company said it was unable to estimate the amount it needed to set aside for legal reserves, which it previously set at $500m. It intends to adjust the way it accounts for a deal with German music publisher Bertelsmann\'s purchase of a stake in AOL Europe, which it had reported as advertising revenue. It will now book the sale of its stake in AOL Europe as a loss on the value of that stake. ']

In [55]:
# put file data into dataframe w/ labels 
df["label"]=label
df["document"]=data
print(df.head())
print(df.tail())

      label                                           document
0  business  Ad sales boost Time Warner profit  Quarterly p...
1  business  Dollar gains on Greenspan speech  The dollar h...
2  business  Yukos unit buyer faces loan claim  The owners ...
3  business  High fuel prices hit BA's profits  British Air...
4  business  Pernod takeover talk lifts Domecq  Shares in U...
    label                                           document
495  tech  California sets fines for spyware  The makers ...
496  tech  Web helps collect aid donations  The web is he...
497  tech  Mobiles rack up 20 years of use  Mobile phones...
498  tech  Blogs take on the mainstream  Web logs or blog...
499  tech  Honour for UK games maker  Leading British com...

In [59]:
#shuffle the data
# don't forget to set it to df, of you will be confused why it's not sticking..
df = df.sample(frac=1).reset_index(drop=True)

In [60]:
df.head()

           label                                           document
0  entertainment  US TV cuts nudity from BBC film  A US TV netwo...
1       politics  Crisis 'ahead in social sciences'  A national ...
2       business  Call centre users 'lose patience'  Customers t...
3       business  Japan economy slides to recession  The Japanes...
4           tech  Net regulation 'still possible'  The blurring ...

In [62]:
df.to_csv("data/train.csv", index=False, header=False)