In [20]:
import os
import pandas as pd

In [21]:
# setup

mapping = {}
source_path = "data/bbc/"

In [31]:
# loop through the top level, for each folder/directory, create an entry in mapping 
# for each file add it as an array to the appropriate map
for i in sorted(os.listdir(source_path)):
    if os.path.isdir(source_path + i):
        # get first 100 for each row
        #mapping[i] = sorted(os.listdir(source_path+i))[:100]
        # second time through for test, switch above line to below line
        mapping[i] = sorted(os.listdir(source_path+i))[200:210]

In [23]:
mapping.keys()

dict_keys(['business', 'entertainment', 'politics', 'sport', 'tech'])

In [24]:
mapping["business"][:5]

['201.txt', '202.txt', '203.txt', '204.txt', '205.txt']

In [35]:
#loop through data read each director/file and clean up line breaks into spaces.
label = []
data = []
for i, j in mapping.items():
    for k in j:
        label.append(i)        
        data.append(open(source_path + i + "/" + k, encoding="cp1252").read().replace("\n", " "))

In [36]:
print(label[:5])
print(data[:1])

['business', 'business', 'business', 'business', 'business']
['Novartis hits acquisition trail  Swiss drugmaker Novartis has announced 5.65bn euros ($7.4bn; Â£3.9bn) of purchases to make its Sandoz unit the world\'s biggest generic drug producer.  Novartis, which last month forecast record sales for 2005, said it had bought all of Germany\'s Hexal. It also acquired 67.7% of Hexal\'s US affiliate Eon Labs, and offered to buy the remaining shares for $31 each. Novartis said that it would be able to make cost savings of about $200m a year following the acquisitions. Novartis\' shares rose 1% to 57.85 Swiss francs in early trading.  The deal will see Novartis\' Sandoz business overtake Israel\'s Teva Pharmaceuticals as the world\'s biggest maker of generics. Based on 2004 figures the newly merged producer would have sales of more than $5bn, the company estimated. Novartis said that it would merge a number of departments, adding that there may be job cuts.  "The strong growth outlook for Sandoz, which will create jobs, is expected to partially compensate for necessary reductions in the work force," the firm said in a statement. Generic drugs are chemically identical to their more expensive branded rivals. Producers such as Sandoz can copy the branded products usually after their patent protection expires and can sell them more cheaply as they do not have to pay research and development cost.  There are more than 150 generic drugmakers worldwide and analysts have predicted consolidation in a market that they call fragmented. However, not all analysts were initially convinced about the deal. "This is a very expensive acquisition," Birgit Kuhlhoff, from Sal Oppenheim investment bank, told Reuters. "I find it strange that they are making acquisitions in exactly those markets where they suffered price pressure." ']

In [40]:
#LOOP 1
df = pd.DataFrame()
# put file data into dataframe w/ labels 
df["label"]=label
df["document"]=data
print(df.head())
print(df.tail())

                                            document
0  Novartis hits acquisition trail  Swiss drugmak...
1  MCI shareholder sues to stop bid  A shareholde...
2  'Standoff' on Deutsche's LSE bid  Deutsche Boe...
3  Bush to outline 'toughest' budget  President B...
4  Orange colour clash set for court  A row over ...
                                             document
45  Row brewing over peer-to-peer ads  Music downl...
46  How to smash a home computer  An executive who...
47  Mobile picture power in your pocket  How many ...
48  Man auctions ad space on forehead  A 20-year-o...
49  Toxic web links help virus spread  Virus write...

In [ ]:
#LOOP 2
df = pd.DataFrame()
# second time through, 
df["document"]=data
print(df.head())
print(df.tail())

In [41]:
#shuffle the data
# don't forget to set it to df, of you will be confused why it's not sticking..
df = df.sample(frac=1).reset_index(drop=True)

In [42]:
df.head()

                                            document
0  Wife Swap makers sue US 'copycat'  The British...
1  British Library gets wireless net  Visitors to...
2  Howard rejects BNP's claim  Tory leader Michae...
3  Duran Duran show set for US TV  Chart stars Du...
4  Orange colour clash set for court  A row over ...

In [43]:
#LOOP 1
#df.to_csv("data/train.csv", index=False, header=False)

In [ ]:
#LOOP 2
df.to_csv("data/test.csv", index=False, header=False)

In [19]:
# 1. AWS Console
# 2 - create bucket - 
# 3 - create training data from bucket