In [7]:
import json
import pandas as pd

ModuleNotFoundError: No module named 'ppprint'

In [8]:
with open('predictions.jsonl','r') as f:
    f = f.readlines()

In [10]:
f

['{"File": "test.csv", "Line": "0", "Classes": [{"Name": "politics", "Score": 0.9526}, {"Name": "business", "Score": 0.0374}, {"Name": "tech", "Score": 0.0056}]}\n',
 '{"File": "test.csv", "Line": "1", "Classes": [{"Name": "entertainment", "Score": 0.9401}, {"Name": "tech", "Score": 0.0382}, {"Name": "business", "Score": 0.0126}]}\n',
 '{"File": "test.csv", "Line": "2", "Classes": [{"Name": "tech", "Score": 0.9887}, {"Name": "entertainment", "Score": 0.0045}, {"Name": "business", "Score": 0.0032}]}\n',
 '{"File": "test.csv", "Line": "3", "Classes": [{"Name": "politics", "Score": 0.9565}, {"Name": "business", "Score": 0.0164}, {"Name": "sport", "Score": 0.0117}]}\n',
 '{"File": "test.csv", "Line": "4", "Classes": [{"Name": "entertainment", "Score": 0.9868}, {"Name": "tech", "Score": 0.006}, {"Name": "politics", "Score": 0.0032}]}\n',
 '{"File": "test.csv", "Line": "5", "Classes": [{"Name": "business", "Score": 0.9701}, {"Name": "tech", "Score": 0.0168}, {"Name": "entertainment", "Score": 0.0057}]}\n',
 '{"File": "test.csv", "Line": "6", "Classes": [{"Name": "entertainment", "Score": 0.966}, {"Name": "tech", "Score": 0.0196}, {"Name": "politics", "Score": 0.0068}]}\n',
 '{"File": "test.csv", "Line": "7", "Classes": [{"Name": "sport", "Score": 0.7436}, {"Name": "politics", "Score": 0.1857}, {"Name": "tech", "Score": 0.0412}]}\n',
 '{"File": "test.csv", "Line": "8", "Classes": [{"Name": "business", "Score": 0.9592}, {"Name": "politics", "Score": 0.0192}, {"Name": "tech", "Score": 0.0127}]}\n',
 '{"File": "test.csv", "Line": "9", "Classes": [{"Name": "entertainment", "Score": 0.9493}, {"Name": "tech", "Score": 0.0195}, {"Name": "politics", "Score": 0.0193}]}\n',
 '{"File": "test.csv", "Line": "10", "Classes": [{"Name": "tech", "Score": 0.9881}, {"Name": "entertainment", "Score": 0.0048}, {"Name": "politics", "Score": 0.003}]}\n',
 '{"File": "test.csv", "Line": "11", "Classes": [{"Name": "tech", "Score": 0.9874}, {"Name": "entertainment", "Score": 0.0063}, {"Name": "business", "Score": 0.0031}]}\n',
 '{"File": "test.csv", "Line": "12", "Classes": [{"Name": "sport", "Score": 0.8994}, {"Name": "tech", "Score": 0.0535}, {"Name": "politics", "Score": 0.0252}]}\n',
 '{"File": "test.csv", "Line": "13", "Classes": [{"Name": "sport", "Score": 0.7955}, {"Name": "tech", "Score": 0.1113}, {"Name": "politics", "Score": 0.0548}]}\n',
 '{"File": "test.csv", "Line": "14", "Classes": [{"Name": "business", "Score": 0.932}, {"Name": "tech", "Score": 0.0273}, {"Name": "politics", "Score": 0.0261}]}\n',
 '{"File": "test.csv", "Line": "15", "Classes": [{"Name": "politics", "Score": 0.9853}, {"Name": "business", "Score": 0.006}, {"Name": "tech", "Score": 0.0041}]}\n',
 '{"File": "test.csv", "Line": "16", "Classes": [{"Name": "politics", "Score": 0.9904}, {"Name": "tech", "Score": 0.0038}, {"Name": "business", "Score": 0.0022}]}\n',
 '{"File": "test.csv", "Line": "17", "Classes": [{"Name": "politics", "Score": 0.9923}, {"Name": "tech", "Score": 0.0028}, {"Name": "business", "Score": 0.0019}]}\n',
 '{"File": "test.csv", "Line": "18", "Classes": [{"Name": "sport", "Score": 0.5728}, {"Name": "politics", "Score": 0.316}, {"Name": "tech", "Score": 0.0859}]}\n',
 '{"File": "test.csv", "Line": "19", "Classes": [{"Name": "entertainment", "Score": 0.7371}, {"Name": "business", "Score": 0.1576}, {"Name": "tech", "Score": 0.0833}]}\n',
 '{"File": "test.csv", "Line": "20", "Classes": [{"Name": "entertainment", "Score": 0.9877}, {"Name": "tech", "Score": 0.0049}, {"Name": "politics", "Score": 0.0037}]}\n',
 '{"File": "test.csv", "Line": "21", "Classes": [{"Name": "business", "Score": 0.9467}, {"Name": "tech", "Score": 0.0341}, {"Name": "politics", "Score": 0.0096}]}\n',
 '{"File": "test.csv", "Line": "22", "Classes": [{"Name": "politics", "Score": 0.9909}, {"Name": "tech", "Score": 0.0032}, {"Name": "business", "Score": 0.0021}]}\n',
 '{"File": "test.csv", "Line": "23", "Classes": [{"Name": "politics", "Score": 0.9917}, {"Name": "tech", "Score": 0.0026}, {"Name": "sport", "Score": 0.0022}]}\n',
 '{"File": "test.csv", "Line": "24", "Classes": [{"Name": "sport", "Score": 0.5751}, {"Name": "tech", "Score": 0.2871}, {"Name": "politics", "Score": 0.0807}]}\n',
 '{"File": "test.csv", "Line": "25", "Classes": [{"Name": "politics", "Score": 0.9901}, {"Name": "tech", "Score": 0.0028}, {"Name": "business", "Score": 0.0028}]}\n',
 '{"File": "test.csv", "Line": "26", "Classes": [{"Name": "tech", "Score": 0.8815}, {"Name": "business", "Score": 0.0837}, {"Name": "entertainment", "Score": 0.0157}]}\n',
 '{"File": "test.csv", "Line": "27", "Classes": [{"Name": "sport", "Score": 0.7369}, {"Name": "tech", "Score": 0.1644}, {"Name": "politics", "Score": 0.0358}]}\n',
 '{"File": "test.csv", "Line": "28", "Classes": [{"Name": "business", "Score": 0.9658}, {"Name": "politics", "Score": 0.015}, {"Name": "tech", "Score": 0.0113}]}\n',
 '{"File": "test.csv", "Line": "29", "Classes": [{"Name": "politics", "Score": 0.9921}, {"Name": "tech", "Score": 0.0029}, {"Name": "sport", "Score": 0.0017}]}\n',
 '{"File": "test.csv", "Line": "30", "Classes": [{"Name": "politics", "Score": 0.9909}, {"Name": "tech", "Score": 0.0037}, {"Name": "business", "Score": 0.0021}]}\n',
 '{"File": "test.csv", "Line": "31", "Classes": [{"Name": "sport", "Score": 0.8173}, {"Name": "tech", "Score": 0.0802}, {"Name": "politics", "Score": 0.0723}]}\n',
 '{"File": "test.csv", "Line": "32", "Classes": [{"Name": "entertainment", "Score": 0.9769}, {"Name": "tech", "Score": 0.0084}, {"Name": "politics", "Score": 0.0073}]}\n',
 '{"File": "test.csv", "Line": "33", "Classes": [{"Name": "business", "Score": 0.6439}, {"Name": "entertainment", "Score": 0.1412}, {"Name": "tech", "Score": 0.1279}]}\n',
 '{"File": "test.csv", "Line": "34", "Classes": [{"Name": "tech", "Score": 0.9872}, {"Name": "business", "Score": 0.0052}, {"Name": "entertainment", "Score": 0.0043}]}\n',
 '{"File": "test.csv", "Line": "35", "Classes": [{"Name": "entertainment", "Score": 0.9917}, {"Name": "tech", "Score": 0.0035}, {"Name": "politics", "Score": 0.002}]}\n',
 '{"File": "test.csv", "Line": "36", "Classes": [{"Name": "politics", "Score": 0.9922}, {"Name": "tech", "Score": 0.0026}, {"Name": "business", "Score": 0.0019}]}\n',
 '{"File": "test.csv", "Line": "37", "Classes": [{"Name": "sport", "Score": 0.7305}, {"Name": "politics", "Score": 0.121}, {"Name": "tech", "Score": 0.1162}]}\n',
 '{"File": "test.csv", "Line": "38", "Classes": [{"Name": "entertainment", "Score": 0.979}, {"Name": "politics", "Score": 0.0093}, {"Name": "tech", "Score": 0.0063}]}\n',
 '{"File": "test.csv", "Line": "39", "Classes": [{"Name": "sport", "Score": 0.8155}, {"Name": "politics", "Score": 0.091}, {"Name": "tech", "Score": 0.0645}]}\n',
 '{"File": "test.csv", "Line": "40", "Classes": [{"Name": "tech", "Score": 0.9875}, {"Name": "entertainment", "Score": 0.0046}, {"Name": "business", "Score": 0.0035}]}\n',
 '{"File": "test.csv", "Line": "41", "Classes": [{"Name": "tech", "Score": 0.9898}, {"Name": "entertainment", "Score": 0.0041}, {"Name": "business", "Score": 0.0027}]}\n',
 '{"File": "test.csv", "Line": "42", "Classes": [{"Name": "tech", "Score": 0.5699}, {"Name": "entertainment", "Score": 0.3904}, {"Name": "politics", "Score": 0.017}]}\n',
 '{"File": "test.csv", "Line": "43", "Classes": [{"Name": "tech", "Score": 0.9824}, {"Name": "entertainment", "Score": 0.0066}, {"Name": "business", "Score": 0.0064}]}\n',
 '{"File": "test.csv", "Line": "44", "Classes": [{"Name": "politics", "Score": 0.6505}, {"Name": "sport", "Score": 0.2431}, {"Name": "tech", "Score": 0.0644}]}\n',
 '{"File": "test.csv", "Line": "45", "Classes": [{"Name": "tech", "Score": 0.9829}, {"Name": "business", "Score": 0.0063}, {"Name": "entertainment", "Score": 0.0057}]}\n',
 '{"File": "test.csv", "Line": "46", "Classes": [{"Name": "entertainment", "Score": 0.9675}, {"Name": "politics", "Score": 0.0169}, {"Name": "tech", "Score": 0.0095}]}\n',
 '{"File": "test.csv", "Line": "47", "Classes": [{"Name": "tech", "Score": 0.9881}, {"Name": "entertainment", "Score": 0.0046}, {"Name": "business", "Score": 0.0037}]}\n',
 '{"File": "test.csv", "Line": "48", "Classes": [{"Name": "politics", "Score": 0.9921}, {"Name": "tech", "Score": 0.0026}, {"Name": "business", "Score": 0.0021}]}\n',
 '{"File": "test.csv", "Line": "49", "Classes": [{"Name": "sport", "Score": 0.8036}, {"Name": "politics", "Score": 0.1064}, {"Name": "tech", "Score": 0.0653}]}\n']

In [9]:
len(f)

50

In [12]:
predictedLabels=[]
for i in f:
    j = json.loads(i)["Classes"]
    predictedLabels.append(j[0]['Name'])
    
predictedLabels

['politics',
 'entertainment',
 'tech',
 'politics',
 'entertainment',
 'business',
 'entertainment',
 'sport',
 'business',
 'entertainment',
 'tech',
 'tech',
 'sport',
 'sport',
 'business',
 'politics',
 'politics',
 'politics',
 'sport',
 'entertainment',
 'entertainment',
 'business',
 'politics',
 'politics',
 'sport',
 'politics',
 'tech',
 'sport',
 'business',
 'politics',
 'politics',
 'sport',
 'entertainment',
 'business',
 'tech',
 'entertainment',
 'politics',
 'sport',
 'entertainment',
 'sport',
 'tech',
 'tech',
 'tech',
 'tech',
 'politics',
 'tech',
 'entertainment',
 'tech',
 'politics',
 'sport']

In [15]:
df_test = pd.read_csv("data/test.csv", header=None)
df_test.head()

                                                   0
0  Bush to outline 'toughest' budget  President B...
1  Wife Swap makers sue US 'copycat'  The British...
2  Remote control rifle range debuts  Soon you co...
3  Gurkhas to help tsunami victims  Britain has o...
4  Jungle TV show ratings drop by 4m  The finale ...

In [17]:
df_test.columns=["Document"]
df_test.head()

                                            Document
0  Bush to outline 'toughest' budget  President B...
1  Wife Swap makers sue US 'copycat'  The British...
2  Remote control rifle range debuts  Soon you co...
3  Gurkhas to help tsunami victims  Britain has o...
4  Jungle TV show ratings drop by 4m  The finale ...

In [18]:
df_test["PredictedLabel"]=predictedLabels

In [19]:
df_test.head()

                                            Document PredictedLabel
0  Bush to outline 'toughest' budget  President B...       politics
1  Wife Swap makers sue US 'copycat'  The British...  entertainment
2  Remote control rifle range debuts  Soon you co...           tech
3  Gurkhas to help tsunami victims  Britain has o...       politics
4  Jungle TV show ratings drop by 4m  The finale ...  entertainment

In [22]:
df_truth = pd.read_csv("data/test_truth.csv", header=None)
df_truth.head()
#THIS IS WRONG.. CREATED IT WRONG...

                                                   0         1
0  Bush to outline 'toughest' budget  President B...  business
1  Wife Swap makers sue US 'copycat'  The British...  business
2  Remote control rifle range debuts  Soon you co...  business
3  Gurkhas to help tsunami victims  Britain has o...  business
4  Jungle TV show ratings drop by 4m  The finale ...  business

In [30]:
df_truth.columns = ["Document","TruthLabel"]
df_truth.head()

                                            Document TruthLabel
0  Bush to outline 'toughest' budget  President B...   business
1  Wife Swap makers sue US 'copycat'  The British...   business
2  Remote control rifle range debuts  Soon you co...   business
3  Gurkhas to help tsunami victims  Britain has o...   business
4  Jungle TV show ratings drop by 4m  The finale ...   business

In [31]:
df_test.head()

                                            Document PredictedLabel
0  Bush to outline 'toughest' budget  President B...       politics
1  Wife Swap makers sue US 'copycat'  The British...  entertainment
2  Remote control rifle range debuts  Soon you co...           tech
3  Gurkhas to help tsunami victims  Britain has o...       politics
4  Jungle TV show ratings drop by 4m  The finale ...  entertainment

In [33]:
mergeDf = pd.merge(df_test, df_truth,on="Document", how="inner")
mergeDf.head(20)

,Document,PredictedLabel,TruthLabel
0,Bush to outline 'toughest' budget President B...,politics,business
1,Wife Swap makers sue US 'copycat' The British...,entertainment,business
2,Remote control rifle range debuts Soon you co...,tech,business
3,Gurkhas to help tsunami victims Britain has o...,politics,business
4,Jungle TV show ratings drop by 4m The finale ...,entertainment,business
5,Novartis hits acquisition trail Swiss drugmak...,business,business
6,US show sued for rat-eating stunt A US TV net...,entertainment,business
7,Arnesen denies rift with Santini Tottenham sp...,sport,business
8,Standard Life cuts policy bonuses Standard Li...,business,business
9,Show over for MTV's The Osbournes Rock star O...,entertainment,business
10,Toxic web links help virus spread Virus write...,tech,entertainment
11,Gangsters dominate gaming chart Video games o...,tech,entertainment
12,Wenger offers Mutu hope Arsenal boss Arsene W...,sport,entertainment
13,Mutu to hold talks with Juventus Disgraced fo...,sport,entertainment
14,'Standoff' on Deutsche's LSE bid Deutsche Boe...,business,entertainment
15,Abbas 'will not tolerate' attacks Palestinian...,politics,entertainment
16,Howard rejects BNP's claim Tory leader Michae...,politics,entertainment
17,Tories opposing 24-hour drinking The Tories s...,politics,entertainment
18,Souness backs Smith for Scotland Graeme Soune...,sport,entertainment
19,EMI shares hit by profit warning Shares in mu...,entertainment,entertainment